.desk {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('../assets/natural-wooden-background.jpg');
    background-position: center;
    background-size: cover;

    display: flex;
}
