.page {
    font-family: "Virgil";
    font-size: 1.4vw;
    white-space: pre-line; /* Enables '\n' */
}

.page .header1 {
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

.page .preview {
    margin: 2vw;
    text-align: center;
}

.page ul {
    font-size: 1.3vw;
    padding-left: 2vw;
}
/* Don't apply margin-bottom to last child, as the <ul> already has its own margin-bottom. */
.page li:not(:last-child) {
    margin-bottom: 1vw;
}
